@{
    int id_sesion = 0;
    if ((int)HttpContext.Current.Session["idUsuario"] != null)
    {
        id_sesion = (int)HttpContext.Current.Session["idUsuario"];
    }  
}

<div class="navbar-header">
    <h2> @Html.ActionLink("Inmuéblate", "Index", "HomeIN", new { id = id_sesion, area = "Inmobiliaria" }, new { @class = "btn btn-link letraTitulo" })</h2>
    @*<h2>@ViewBag.subtitulo</h2>*@
</div>    
<div class="men-iz">
    <div class="nav navbar-nav navbar-right">
        @Html.Partial("~/Areas/Inmobiliaria/Views/Shared/_LogOnPartial.cshtml")
    </div>
</div>

