<footer>
    <div class="row">
        <div class="col-lg-12">
            <span>&copy; Inmuéblate</span>
            <br />
            <span>Incidencias y sugerencias: <a href="mailto:isidurlll2@gmail.com" class="text-muted">Webmáster</a></span>
        </div>
    </div>
</footer>
