<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>
  <specFlow>
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
  <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config --><unitTestProvider name="MSTest" /></specFlow>
  <system.serviceModel>
    <bindings>
      <customBinding>
        <binding name="CustomBinding_Service">
          <binaryMessageEncoding />
          <httpTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:53967/Service.svc" binding="customBinding"
        bindingConfiguration="CustomBinding_Service" contract="ServiceReference1.Service"
        name="CustomBinding_Service" />
    </client>
  </system.serviceModel>
</configuration>